:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-write-color: #ffffff;
  --secondary-bg-color: #2f303a;
}

body {
  background-color: var(--primary-write-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/* logo */

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-title {
  color: var(--accent-color);
}

/* site-nav */

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* main */

.hero {
  background-color: var(--secondary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.hero-title {
  color: var(--primary-write-color);
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.section-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* button */

.btn {
  color: var(--primary-text-color);
  background-color: var(--primary-write-color);
}

.auth-nav .btn {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.auth-nav .btn:hover,
.auth-nav .btn:focus {
  color: var(--accent-color);
}

.btn.primary {
  color: var(--primary-write-color);
  background-color: var(--accent-color);
}

.button-nav .btn {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.button-nav .btn:hover,
.button-nav .btn:focus {
  color: var(--primary-write-color);
  background-color: var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--secondary-bg-color);
}

.footer-logo {
  color: var(--primary-write-color);
}

.footer-contacts {
  color: var(--primary-write-color);
}

.footer-nav .button {
  color: rgba(255, 255, 255, 0.6);
}
